<div class="list-item">
    <div class="img-user-container">
        <% if @user.photo.present? %>
            <img src="<%= @user.photo %>" alt="User Photo">
        <% else %>
            <p>No photo available</p>
        <% end %>
    </div>
    <div class="info-user-container" >
        <div>
            <h2>
                <%= @user.name%>
            </h2>
        </div>
        <p class="post-number">
            Number of posts: <%= @user.post_counter%>
        </p>
    </div>
</div>
<div class="bio-container">
    <h3>
        Bio
    </h3>
    <p>
        <%= @user.bio%>
    </p>
</div>
<div class="post-container">
    <ul class="post-list">
        <% @user.posts.each do |post| %>
            <li class="post-item">
                <h4> <%= post.title%> </h4>
                <p>
                <%= post.text %>
                </p>
                <p class="post-counters"> Comments: <%= post.comments_counter %> - Likes: <%= post.likes_counter%> </p>
            </li>
        <% end %>
    </ul>

    <div class="user-button-container">
        <button class="btn-see-posts">
            <%= link_to "See all posts", user_posts_path(@user) %>
        </button>

    </div>

</div>