<h2 class="form-title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "custom-form") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "custom-input" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Send me reset password instructions", class: "custom-button" %>
    <%= link_to "Back to Home", root_path, class: "custom-button back-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
