<div class="list-item">
    <div class="img-user-container" >
         <img src= <%= @user.photo%> >
    </div>
    <div class="info-user-container" >
        <div>
            <h2>
                <%= @user.name%>
            </h2>
        </div>
        <p class="post-number">
            Number of posts: <%= @user.post_counter%>
        </p>
    </div>
</div>

<% @posts.each do |post| %>
    <a href="<%= user_post_path(@user, post) %>" class="post-container">
        <div class="post-item">
            <div class="post-title">
                <h2> Post #<%= post.id %> - <%= post.title %> </h2>
            </div>
            <div class="post-text">
                <p> <%= post.text %> </p>
            </div>
            <div class="post-counters">
                <p> Comments: <%= post.comments_counter %> - Likes: <%= post.likes_counter%> </p>
            </div>
        </div>
        
        <div>
            <ul class="comments-list">
                <% post.five_recent_comments.each do |comment|%>
                    <li>
                    <p>
                        Username: <%= comment.user.name %> Comment: <%= comment.text %>
                    </p>
                    </li>
                <% end %>
            </ul>
            
        </div>
    </a>
<% end %>

<div class="btn-post-container">
    <% if @posts.present? %>
      <button class="btn-pagination">
          <%= link_to "Pagination", user_post_path(@user, @posts.first) %>
      </button>
    <% end %>
</div>

<div>
    <a href="/users/<%=@user.id%>/posts/new">Create Post</a>
</div>


