<h1> Details for post </h1>

<div class="post-container">
    <div class="post-title">
        <h2> <%= @post.title %> </h2>
    </div>
    <div class="post-text">
        <p> <%= @post.text %> </p>
    </div>
    <div class="post-info">
        <p> Comments: <%= @post.comments_counter %> - Likes: <%= @post.likes_counter %></p>
    </div>
    <ul class="comments-list">
                <% @post.comments.first(10).each do |comment|%>
                    <li>
                        <p>
                            Username: <%= comment.user.name %>, Comment: <%= comment.text %>
                        </p>
                    </li>
                <% end %>
            </ul>
</div>

<% if @next_post.present? %>
  <div class="btn-post-container">
    <button class="btn-pagination">
      <%= link_to "Next Post", user_post_path(@user, @next_post) %>
    </button>
  </div>
<% end %>
